@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Consumindo um serviço REST com ASP.NET MVC</h1>
    <p class="lead">
        Criação de um aplicativo completo de cadastro de notas que funcionará como um cliente para uma API REST.
        São abordados os verbos do HTTP POST, PUT, GET e DELETE dentro do contexto de um Web Service RESTful assim
        como o processamento de cada objeto json retornado pela API no cliente.
    </p>
    
</div>
